<div id="reviews">
  <%= render :partial => 'shared/rating', :locals => {:product => @product} %>
  <% for review in @product.reviews.approved.preview %>
    <%= render :partial => 'shared/review', :locals => {:review => review} %>
  <% end %>
  <% if Spree::Config[:feedback_rating] && (!Spree::Config[:require_login] || current_user) %>
    <%= link_to t('write_your_own_review'), new_product_review_path(@product), :class => "button" %>
  <% end %>
</div>

