<% stars = product.get_stars %>
<span style="float:left;" title="<%= txt_stars(stars[:star]) %>">
  <%= render :partial => "reviews/stars", :locals => {:stars => stars[:star]} %>
</span>
<span style="float:right;">
  <%= Review.model_name.human(:count => stars[:rcount]) %>
</span>
<br/>
