#reviews {
	padding: 10px;
}

#reviews h6 {
	font-size: 16pt;
	margin: 0px;
}

#reviews div.header {
  font-size: 12pt;
  font-weight: bold;
  border-bottom: 1px #2222aa dashed;
  margin-top: 10px;
  margin-bottom: 10px;
}

#reviews div.review {
  border-bottom: 1px #2222aa dashed;
  margin-bottom: 10px;
}

#reviews div.review span.title {
  font-size: 11pt;
  font-weight: bold;
}

#reviews div.review span.attribution {
  font-size: 8pt;
}
.ratings p {
	font-size: 12px;
	margin: 5px;
}
.button-review, .cancel-review {
	color: #C2C2C2;
	text-decoration: none;
}
.button-review:hover, .cancel-review:hover {
	text-decoration: underline;
}

#new_review h6 {
	font-size: 10pt;
	margin: 0px;
	padding: 5px 3px;
}

#new_review .review_name_field {
	font-size: 12px;
	margin-top: 5px;
}
#new_review p {
	margin-top: 5px;
	margin-bottom: 0px;
}

#new_review .review_name_field input {
	width: 200px;
	height: 28px;
	padding: 1px;
	margin-bottom: 14px;
}

#new_review .review_review_field textarea {
	width: 200px;
	height: 80px;
	padding: 1px;
}

.lit {
  background-color: #aaaaaa;
  color: #0000bb;
  margin-right: 1px;
  padding-left: 1px;
}

.unlit {
  background-color: #aaaaaa;
  color: #000000;
  margin-right: 1px;
  padding-left: 1px;
}

.star-rating-control {
  display: inline-block;
  height: 15px;
}

.review_hr {
  size: 1px;
  background: silver;
  border: none;
  margin: 1em 0;
}