<div id="reviews">
  <%= render :partial => 'spree/shared/rating', :locals => {:product => @product} %>
  <% for review in @product.reviews.approved.preview %>
    <%= render :partial => 'spree/shared/review', :locals => {:review => review} %>
  <% end %>
</div>

