<div id="new-star" data-rating="0"></div>
<script type="text/javascript">
<!--//
jQuery(document).ready(function() {
	$("#new-star").raty({
		cancel: true,
		half:  true,
		width: 180,
		path: '/assets/',
		click: function(score, evt) {
			$("#review_rating").val(score);
		}
	});
});
//-->
</script>